<IfModule mod_rewrite.c>
   RewriteEngine on
   Rewriterule    ^phpMyAdmin/.*$ - [PT]
   RewriteRule    ^apidoc - [L]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
