.votes{
    text-shadow: #ccc 1px 1px 0;
}

.green{
    color: #0b0;
}

.red{
    color: #f00;
}

/* rss icons for offer categories */
.sidebar-nav ul li a {
    display: inline;
}

.rss-happyhour {
    float: right;
    background-image: url('../img/rss-blue-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.rss-coupons {
    float: right;
    background-image: url('../img/rss-orange-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.rss-limited {
    float: right;
    background-image: url('../img/rss-green-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.help-text {
    cursor: help;
}

.rss-category{
    float: right;
    background-image: url('../img/rss-gray-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.bold {
    font-weight: bold;
}

.footer-rss {
    float: left;
    background-image: url('../img/rss-footer.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#issue_form ul {
    list-style-type: none;
}

footer {
    margin-top: 1em;
    padding-top: 1em;
    height: 80px;
    background-color: #282828;
    color: #fff;
    position: absolute;
    width: 100%;
}

footer ul li {
    list-style : none;
    clear: both;
    display: inline;
    padding-left: 2em;
}

.profile-votes ul {
    margin: 0 !important;
}

.profile-votes ul li {
    list-style: none;
    display: inline;
    padding-right: 8px;
}

/* css for work_hours element */
.workhour{
    clear: both;
    margin: 6px 0 0 0;
}
.day{
    float: left;
    margin: 6px 9px 0 0;
    width: 80px;
    text-align: right;
}
.hour select{
    float: left;
    width: 65px;
}
.between{
    float: left;
    margin: 3px 6px;
}

.error-message {
    color: #B94A48;
}

#big_image {
    float: right;
    width: 360px;
    height: 100px;
}

#images{
    margin: 12px 0 0 0;
}

.image_frame{
    display: inline;
    margin: 6px;
    cursor: pointer;
}

#with_map {
    height: 200px;
}

#map {
    float: right;
}

.strikethrough{
    text-decoration: line-through;
}

.twobuttons{
    float: left;
    margin: 0 12px 0 0;
}

.inline-list li {
    display: inline;
}

.company-btn li {
    padding-right: 1em;
}

.company-name {
    padding-bottom: 1em;
}

/* block which contain company controls-action, like image/ino edit
 * or offer creation
 */
.controls-block {
    padding-bottom: 1em;
}

.company-info-block, .company-image-block {
    padding-bottom: 1em;
}

#companyTab {
    clear: both;
}

/* add left-right padding in company tables to fit nicely into tabs */
.company-table {
    padding: 0 1.2em;
}

/* admin controls for company view */
.admin-company-controls {
    clear: right;
}

.admin-company-controls h3 {
    padding-bottom: 0.2em;
}
