.votes{
    text-shadow: #ccc 1px 1px 0;
}

.green{
    color: #0b0;
}

.red{
    color: #f00;
}

/* rss icons for offer categories */
.sidebar-nav ul li a {
    display: inline;
}

.rss-happyhour {
    float: right;
    background-image: url('../img/rss-blue-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.rss-coupons {
    float: right;
    background-image: url('../img/rss-orange-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.rss-limited {
    float: right;
    background-image: url('../img/rss-green-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.help-text {
    cursor: help;
}

.rss-category{
    float: right;
    background-image: url('../img/rss-gray-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.bold {
    font-weight: bold;
}

.footer-rss {
    float: left;
    background-image: url('../img/rss-footer.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#issue_form ul {
    list-style-type: none;
}

footer {
	background: url('../img/fake_brick.png') repeat scroll 0% 0% transparent;
    margin-top: 1em;
    padding-top: 1em;
    width: 100%;
    color: #fff;
}

footer ul {
    height: 40px;
}

footer ul li {
    list-style : none;
    clear: both;
    display: inline;
    padding-left: 2em;
}

#espa{
    display: block;
    background: url('../img/noise_lines.png') repeat scroll 0% 0% transparent;
    margin: 0 auto;
    padding: 12px 0 64px 0;
    width: 100%;
    color: #333;
    text-align: center;
}

.espa-logo{
    border: 1px solid #bbb;
    margin: 24px auto;
    padding: 1px;
    display:block;
}

.profile-votes ul {
    margin: 0 !important;
}

.profile-votes ul li {
    list-style: none;
    display: inline;
    padding-right: 8px;
}

/* css for work_hours element */
.workhour{
    clear: both;
    margin: 6px 0 0 0;
}
.day{
    float: left;
    margin: 6px 9px 0 0;
    width: 80px;
    text-align: right;
}
.hour select{
    float: left;
    width: 65px;
}
.between{
    float: left;
    margin: 3px 6px;
}

.error-message {
    color: #B94A48;
}

#big_image {
    float: right;
    width: 360px;
    height: 100px;
}

#images{
    margin: 12px 0 0 0;
}

.image_frame{
    display: inline;
    margin: 6px;
    cursor: pointer;
}

#with_map {
    height: 200px;
}

#map {
    float: right;
}

.strikethrough{
    text-decoration: line-through;
}

.twobuttons{
    float: left;
    margin: 0 12px 0 0;
}

.inline-list li {
    display: inline;
}

.company-btn li {
    padding-right: 1em;
}

.company-name {
    padding-bottom: 1em;
}

/* block which contain company controls-action, like image/ino edit
 * or offer creation
 */
.controls-block {
    padding-bottom: 1em;
}

.company-info-block, .company-image-block {
    padding-bottom: 1em;
}

#companyTab {
    clear: both;
}

/* add left-right padding in company tables to fit nicely into tabs */
.company-table {
    padding: 0 1.2em;
}

/* admin controls for company view */
.admin-company-controls {
    clear: right;
}

.admin-company-controls h3 {
    padding-bottom: 0.2em;
}

/* admin controls in admin pages */
.admin-results {
    clear: both;
}

.offer-tile{
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #eaeaea;
    background: rgb(240, 240, 240);
    background: rgba(200, 200, 200, 0.1);
    margin: 0 0 12px 0;
    padding: 6px 6px 6px 12px;
    height: 60px;
    white-space: nowrap;
}

.offer-owner{
    border-color: #cdf;
    background: rgb(195, 225, 255);
    background: rgba(195, 225, 255, 0.3);
}

.offer-thumb{
    float: left;
    border: 1px solid #fff;
    background-color: #ddd;
    margin: 0 24px 0 6px;
    padding: 1px;
    width: 100px;
    height: 60px;
    overflow: hidden;
}

.offer-info-cont{
    float: left;
    margin: 0;
    width: 640px;
    height: 60px;
}

.offer-info{
    position: relative;
}

.offer-header{
    overflow: hidden;
}

.offer-name-cont{
    float: left;
}

.offer-name{
    margin: 0 0 6px 0;
    width: 280px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
}

.offer-name a{
    color: #333;
    text-shadow: #fff 1px 1px 0;
}

.offer-label,.offer-votes{
    float: left;
    margin: 0 0 0 20px;
}

.offer-improper{
    float: left;
    margin: 0 12px 0 0;
}

.offer-tweet{
    position: absolute;
    top: 22px;
    left: 300px;
}

.offer-tags{
    display: inline;
}

.offer-tags a{
    color: #07d;
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-elements {
    list-style-type: none;
}

.navbar-elements li {
    display: inline;
    text-decoration: none;
}

.nav-link {
    display: inline;
    padding: 1em;
    list-style-type: none;

}

.navbar-elements li a {
    text-decoration: none;
}

.nav-link:hover {
    background: rgb(195, 225, 255);
    background: rgba(195, 225, 255, 0.3);
}

/* offer view */
.offer-details {
    clear: left;
}

.stats-table{
    border: 1px solid #0088CC;
    text-align:center;
}

.stats-table th{
    border-width: 0 1px;
    border-style: solid;
    border-color: #0088CC;
    background: url("../img/fake_brick.png") repeat scroll 0 0 #2C2C2C;
    color: #fff;
}

.stats-table td{
    border-width: 0 1px;
    border-style: solid;
    border-color: #0088CC;
}

.stats-table tr.stats-line{
    background: rgb(195, 225, 255);
    background: rgba(195, 225, 255, 0.6);
}

.stats-month,.stats-visits,.stats-visitors{
    width: 96px;
}

.offers-logo{
    vertical-align: middle;
}

img{
    vertical-align: middle;
}

#home-cont{
    width: 960px;
}

#home-text{
    float: left;
    width: 560px;
    margin: 20px 30px 20px 30px;
    font-size: 14px;
}

#login-form{
    float: left;
    width: 220px;
    padding: 10px;
    margin: 10px 30px 10px 10px;
    border: 2px solid #8bf;
}

.clear-both{
    clear: both;
}
