.votes{
    text-shadow: #ccc 1px 1px 0;
}

.green{
    color: #0b0;
}

.red{
    color: #f00;
}

/* rss icons for offer categories */
.sidebar-nav ul li a {
    display: inline;
}

.rss-happyhour {
    float: right;
    background-image: url('../img/rss-blue-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.rss-coupons {
    float: right;
    background-image: url('../img/rss-orange-small.png');
    background-repeat: no-repeat;
    height: 24px;
}

.rss-limited {
    float: right;
    background-image: url('../img/rss-green-small.png');
    background-repeat: no-repeat;
    height: 24px;
}
